extends layout

block content
	h1= title
  
	- each chat in chats
		div.chat
			div.text= chat.text
			div.posted_at= chat.created_at

	div.newchat
		form( method="post", action="/new" )
			input(type="text", name="text", id="newChatText", placeholder="type a messaage and hit enter!")